/* .navbar-nav , .nav-link{
    background-color: lightblue;
} */

/* .navbar-nav , .nav-link :hover{
    background-color: lightblue;
} */


.nav-link:hover{
    background-color:lightskyblue;
    color: white;
    cursor: pointer;
}

.nav-item{
    font-weight: bold;
   
}